<h4 class="menu">CATEGORY</h4>


 <form action="">
      <input type="radio" id="category" value="category"> <label for="test">{{category[0]}}</label><br>
      <input type="radio" id="category" value="category"><label for="category"> {{category[1]}}</label><br>
      <input type="radio" id="category" value="category"><label for="category"> {{category[2]}}</label>
      </form>
      <br>

<h4 class="menu">AREA</h4 >
     <form>
       <input type="checkbox" id="area" value="area"> <label for="area">{{area[0]}}</label><br>
      <input type="checkbox" id="area" value="area"><label for="area"> {{area[1]}}</label><br>
     
</form>

<h4 class="menu">STYLE</h4 >
     <form>
      <input type="checkbox" class="inputmenu" name="style"><label for="style">{{style[0]}}</label><br>
      <input type="checkbox" name="style"><label for="style"> {{style[1]}}</label><br>
      <input type="checkbox" name="style"><label for="style"> {{style[2]}}</label><br>
      </form>

       <h4 class="menu">MANUFACTURER</h4 >
     <form>
      <input type="checkbox" id="manu" name="material"><label for="manu"> {{manufacturer[0]}}</label><br>
      <input type="checkbox" id="manu" name="material"><label for="manu"> {{manufacturer[1]}}</label><br>
      <input type="checkbox" id="manu" name="material"><label for="manu"> {{manufacturer[2]}}</label><br>
      </form>
   
    <h4 class="menu">SIZE</h4 >
     <form>
      <input type="checkbox" id="size" name="size"><label for="size"> {{size[0]}}</label><br>
      <input type="checkbox" id="size" name="size"><label for="size"> {{size[1]}}</label><br>
      <input type="checkbox" id="size" name="size"><label for="size"> {{size[2]}}</label><br>
      </form>






   